.root {
  background-color: navy;
  height: 48px;
}

.navbar {
  color: #ffff00;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 10px;
  margin-bottom: 0;
  list-style: none;
  font-size: large;
}

.navbar-link {
  color: #ffff00;
  background: none;
  border: none;
}

.navbar-link:hover {
  color: #ffffff;
}
