.number {
    width: 10%;
}

.header {
    color: #000;
    background-color: #eee;
    text-align: center;
}

.default {
    color: #000;
    background-color: #000;
}

.submenu {
    color: #0ff;
}

.submenu-tooltip {
    background-color: #0ff;
}